#main {
  animation: main 2s ease 1;
}

@keyframes main {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {  background-image: url("/web/img/2.jpg");  background-size: cover;  background-repeat: no-repeat !important }

.img-cyrcle img {
  width: 300px;
  height: 300px;
  border-radius: 60px;
  transition: 0.7 s;
  opacity: 50%;
}

.img-cyrcle img:hover {
  transform: scale(1.3);
  opacity: 100%;
}

.is-valid {
  animation: is-valid 1s ease 1;
}

@keyframes is-valid {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20px);
  }
}
.is-invalid {
  animation: is-invalid 1s ease 1;
}

@keyframes is-invalid {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

.invalid-feedback {
  animation: invalid-feedback 1s ease 1;
}

@keyframes invalid-feedback {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
}

.carusel-style {
  width: 70vw;
}
